// Principal couleurs

$white: rgb(255, 255, 255);
$black:black;
$main-color:#000000;
$background-color-main: $black;
$hover-background-color: $white;
$text-color: $white;

//Police 

$police-principal:'Roboto', sans-serif;

// Utilitaires Position / Dimensions
$menu-btn-size: 25px;
$menu-box-width: 300px;
$menu-padding: 80px;
$transition-duration: 0.25s;




