<main>
    <footer>
        <div class='F2'>
            © Copyright
            <script>
                document.write(new Date().getFullYear());
            </script>
            by Ayman Mastour
        </div>
    </footer>
</main>
</body>


</html>