<%- include('header') -%>
<main>
    <section class="popContainer">

        <h2>Vous devez vous connectez pour continuer</h2>

        <a href="/loginUsers"><button>Connectez-vous <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button></a>

    </section>
</main>